/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background: #f3f3f3; */
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Create own custom scrollbar */
/* Width */
::-webkit-scrollbar{
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #a8a8a8;
}
/* Scrollbar Handle Hover */
::-webkit-scrollbar-thumb:hover{
    background: #9a9a9a;
}


/* Nav Hero Section Styling */
.nav_hero_section{
    position: relative;
    width: 100%;
    height: 110vh;
    background: linear-gradient( to right, rgba(0, 0, 0, 0.35),  rgba(0, 0, 0, 0.25)), url("./img/banner-bg.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
.nav_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap: 1.3rem;
    padding: 30px 175px;
}
.company_info_detail{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company_detail{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    color: #f0f0f0;
    font-size: 1.1rem;
}
.company_detail i{
    color: #e24806;
    margin-right: 0.3rem;
}
.email a{
    color: #f0f0f0;
}

.company_social_account{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.social_box{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #e24806;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-out;
}
.social_box i{
    font-size: 1.0rem;
    color: #f0f0f0;
}
.social_box:hover{
    background: #e24806;
    border: 1px solid #f0f0f0;
}

.navbar_section{
    width: 100%;
    height: auto;
    background: #f0f0f0;
    border-radius: 6px;
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_section .logo_section{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: #e24806;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.navbar_section .logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.navbar_section ul{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.navbar_section ul li a{
    font-size: 1.1rem;
    font-weight: 500;
    color: #1b1b1b;
    transition: 0.4s ease-out;
}
.navbar_section ul li a:hover{
    color: #e24806;
}
.navbar_section ul li .active{
    color: #e24806;
}

.collection_box{
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
    color: #1b1b1b;
}
.collection_box a{
    color: #1b1b1b;
}
.collection_box i{
    font-size: 1.3rem;
    transition: 0.3s ease-out;
}
.collection_box i:hover{
    color: #e24806;
}
.collection_box .grid_box{
    width: 35px;
    height: 35px;
    background: #e24806;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f0f0f0;
}
.collection_box .grid_box i{
    font-size: 1.1rem;
}
.collection_box .grid_box:hover i{
    color: #f0f0f0;
}

/* Hero Section */
.hero_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 30px 175px;
}

/* Hero Info Section */
.hero_info_section{
    width: 40%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    column-gap: 1.0rem;
}

.get_started_btn {
    padding: 15px 25px;
    border: unset;
    border-radius: 4px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
}

.get_started_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 4px;
    background-color: #212121;
    z-index: -1;
    transition: all 250ms
}

.get_started_btn:hover {
    color: #e8e8e8;
}

.get_started_btn:hover::before {
    width: 100%;
}


/* Image Section */
.hero_img_section{
    width: 55%;
    height: 78vh;
}
.hero_img{
    width: 100%;
    height: 100%;
    animation: moveTopToBottom 1.5s infinite alternate;
    -webkit-animation: moveTopToBottom 1.5s infinite  alternate;
}

@keyframes moveTopToBottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}



/* End */